<nav class="paginator">
    <ul class="pagination">
        <li class="disabled">
            <a href="#">
                <i class="ion-ios-arrow-back"></i>
                <i class="ion-ios-arrow-back"></i>
            </a>
        </li>
        <li class="disabled">
            <a href="#">
                <i class="ion-ios-arrow-back"></i>
            </a>
        </li>
        {% for link in links %}
            {% if link.disabled is defined %}
                <li class="disabled"><a href="#">...</a></li>
            {% else %}
                <li>
                    <a href="{{ link.href }}">
                        {{ link.text }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
        <li class="disabled">
            <a href="#">
                <i class="ion-ios-arrow-forward"></i>
            </a>
        </li>
        <li class="disabled">
            <a href="#">
                <i class="ion-ios-arrow-forward"></i>
                <i class="ion-ios-arrow-forward"></i>
            </a>
        </li>
    </ul>
</nav>
